@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SfLight";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
}
@font-face {
  font-family: "SfReg";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SfMedium";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SfSemi";
  src: url("../fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "SfBold";
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}
